<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>passport-ajax</title>
    </head>
    <body>
        <%# This is just a test to see if the user is saved to the database with a simple form %>
        Static Test<<
        <form class="" action="/formTest" method="post">
            Email or username <input type="text" name="emailOrUsername" value="">
            Password <input type="text" name="password" value="">
            fullname <input type="text" name="fullname" value="">
            <input type="submit" name="" value="Submit and save to DB">
        </form>
        <%=query%>
    </body>
</html>
